.customer-creation-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 calc(10px + 0.35vw);
    padding:  0px;

    margin: 20px 0;
}

.component-title-wrapper{
    grid-column: 3/11;
}

.my-5{
    grid-column: 3/11;
}


