<div class="custome-list-container">
  <div class="component-title-wrapper">
    <h3 class="compoent-title">Customer details</h3>
  </div>
  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td>{{ customer._id }}</td> -->
            <td>{{ customer?.name }}</td>
            <td>{{ customer?.address }}</td>
            <td>{{ customer?.phone }}</td>
            <td>{{ customer?.country }}</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-info" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-info">Edit</button>
      <button type="button" class="btn btn-info">Delete</button>
    </div>
  </div>

</div>

